/** Main subscription page **/

#role_subscription_main_subscription_intro { background: #efefef; border: 1px solid #ccc; padding: 1em; }

#role_subscription_main_subscription_form { font-size: 12pt; }

#role_subscription_main_subscription_form div.form-radios span { font-weight: bold; color: #23648F; }

div.role_subscription_radio_options { background: #efefef; margin-top: .3em; padding: .2em .3em; }

/** Payment confirm page **/

#role-subscription-pay-confirm { }
	#role-subscription-pay-confirm table { border: 1px solid #999; padding: .2em .5em; width: 20em; }
	#role-subscription-pay-confirm th { background: #ddd; padding: .2em .5em; }
	#role-subscription-pay-confirm td { background: #fff; padding: .2em .5em; }
	#role-subscription-pay-confirm td.col1 { font-weight: bold; }

/** Payment page **/
#role-subscription-pay { }
	#role-subscription-pay table { border: 1px solid #999; padding: .2em .5em; width: 20em; }
	#role-subscription-pay th { background: #ddd; padding: .2em .5em; }
	#role-subscription-pay td { background: #fff; padding: .2em .5em; }
	#role-subscription-pay td.col1 { font-weight: bold; }
	
fieldset div.description { margin-top: .5em; }